

.jumbotron {
    background-image: url("../images/campgroundImage.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
}

body {
    background-color: gainsboro;
}

h3 {
    margin-left: 5%;
}

.display-4 {
    color: whitesmoke;
    font-weight: bold;
    margin-top: 5%;
    background-color: #585858;
    width: 33%;
}

h2,h5 {
color: #778899;
}


#home {
    margin-left: 5%;
}

